/**
* Typography
*/
$FONT_WEIGHT_TEXT: 400;
$FONT_WEIGHT_HEADLINE: bold;
// nomal
$FONT_SIZE_NORMAL: 14px;
// headline
$FONT_SIZE_HEADLINE_H1: 23px;
$FONT_SIZE_HEADLINE_H2: 18px;
$FONT_SIZE_HEADLINE_H3: 16px;
$FONT_SIZE_HEADLINE_H4: 14px;
$FONT_SIZE_HEADLINE_H5: 12px;
$FONT_SIZE_HEADLINE_H6: 10px;
// text
$FONT_SIZE_TEXT_LG: 16px;
$FONT_SIZE_TEXT_MD: 14px;
$FONT_SIZE_TEXT_SM: 12px;
$FONT_SIZE_TEXT_XS: 10px;

/**
* Color
*/
// black
$BLACK_DARK: #303030;
// gray
$GRAY_000: #ffffff;
$GRAY_100: #fafafa;
$GRAY_200: #f1f1f1;
$GRAY_300: #e8e8e8;
$GRAY_400: #dddddd;
$GRAY_500: #b7b7b7;
$GRAY_600: #afafaf;
$GRAY_700: #7d7d7d;
$GRAY_800: #4a4a4a;
$GRAY_900: #171717;
$GRAY_200_SOFT: $GRAY_100;
$GRAY_200_HOVER: $GRAY_400;
$GRAY_400_SOFT: $GRAY_200;
$GRAY_400_HOVER: $GRAY_600;
$GRAY_700_SOFT: $GRAY_200;
$GRAY_700_HOVER: $GRAY_800;
// white
$WHITE: #ffffff;
$WHITE_SOFT: $GRAY_400;
$WHITE_HOVER: $GRAY_300;
// project
$PRIMARY: #e84660;
$PRIMARY_HOVER: #d92340;
$PRIMARY_SOFT: #fadadf;
$PRIMARY_X_SOFT: #fff0f2;
$WARNING: #f3d937;
$WARNING_HOVER: #edb31e;
$WARNING_SOFT: #fcf7d3;
$DANGER: #d00b0b;
$DANGER_HOVER: #bf0829;
$DANGER_SOFT: #fecfd8;
$SUCCESS: #5bd33d;
$SUCCESS_HOVER: #33b911;
$SUCCESS_SOFT: #e4f5e0;
$INFO: #359fbe;
$INFO_HOVER: #228aa8;
$INFO_SOFT: #dff0f5;
// other
$DANGER: #d6082e;
$BLACK: #222222;
$BROWN: #98632a;
$BLUE: #0076a8;
$GREEN: #478000;
$ORANGE: #cf4800;
$RED: #b60218;
$YELLOW: #f3d937;

/**
* Other
*/
$BORDER: $GRAY_600;
$BORDER_DOT: $GRAY_800;
$SHADOW: rgba(0, 0, 0, 0.1);

/**
* Styles
*/
// corner
$CORNER_BASE: 6px;
$CORNER_DELTA: 2px;
$CORNER_SM: $CORNER_BASE - $CORNER_DELTA;
$CORNER_MD: $CORNER_BASE;
$CORNER_LG: $CORNER_BASE + 2 * $CORNER_DELTA;

/**
* Spacing
*/
$SPACE_DELTA: 3px;

/**
* Breakpoints
*/
$BREAKPOINT_PC: 960px;
$BREAKPOINT_TABLET: 768px;
$BREAKPOINT_SP: 560px;

/**
* Layer list
*/
$LAYER_DEFAULT: 1;
$LAYER_CONTROL_PANEL: 1;
$LAYER_NOTIFICATION: 400;
$LAYER_SIDEBAR: 500;
$LAYER_HEADER: 600;
$LAYER_OVERLAY: 700;
$LAYER_MODAL: 800;
$LAYER_TOAST: 900;
